<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<script type="text/javascript" src="[@common.ctx /]/static/plugin/jquery/jquery.min.js"></script>
<script type="text/javascript" src="[@common.ctx /]/static/plugin/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="[@common.ctx /]/static/script/login.js"></script>
</head>
<body>
<center>
	<h1>请登录</h1>
	<form>	<!--				"ctx": 提交button的js-->
		<input type="hidden" id="ctx"           value="${contextPath}" />
		<input type="hidden" id="gotoUrl_input" value="${gotoUrl}" name="gotoUrl" /> <!-- 暂存请求地址 -->
		<span>用户名：  </span><input type="text" 	  id="username_input"  name="username"/>
		<span>密    码：</span><input type="password" id="password_input"  name="password"/>
		<input id="login_button" type="button" value="登录">
	</form>
</center>
</body>
</html>